<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<body>
    <div class="fade-layer"></div>
    <div class="container">
            <nav id="nav" class="navbar" onclick="toggleMenu()">
                <i id="close" class="material-icons" close>close</i>
                <h1 class="title">TIMOTHY NILSSON</h1>
                <ul>
                    <li><a href="{% url 'personal_first' %}">Home</a></li>
                    <li><a href="{% url 'programming' %}">About</a></li>
                    <li><a href="{% url 'construction' %}">Contact</a></li>
                    <li><a href="{% url 'construction' %}">Blog</a></li>
                </ul>
            </nav>
        {% block content %} {% endblock %}
        <div class="footer">
            <div class="socials">
                <a href="https://www.facebook.com/timothy.nilsson.5" class="facebook">
                <a href="https://www.snapchat.com/add/timothyn00" class="snapchat"></a>
                <a href="https://twitter.com/scallibur00" class="twitte">
                <div class="twitter">

                </div>
            </a>
                <a href="https://www.instagram.com/nilsson.timothy/" class="instagram"></a>
                <a href="https://github.com/Hanker00" class="github">
                </a>
            </div>
            <div class="email">
                <p>
                    Email me with any suggestions, collaborations, or just to talk! nilsson.timothy@gmail.com
                </p>
            </div>
        </div>
        <script src="../../static/js/script.js"></script>
</body>

</html> 