{% extends 'MainSite/base.html' %}


{% block content %}
<div class="container_index">
    <div class="whitebackground"></div>
    <h1 class="Timothy">TIMOTHY </h1>
    <p>Originally from Sweden now living in Japan to pursue my aspiration to become a Software Engineer. This is my personal
        website consisting of everything you need to know about me and my journey.
    </p>
    <div class="background_image"></div>
    <h1 class="readmore">Read more</h1>
        <a href="#" class="scroll">
                <i class="material-icons">
                        arrow_drop_down
                </i>
        </a>
    </a>
</div>
<div class="journey">
    <div class="header2">
        <h1 class="journeyh1">
            My journey
        </h1>
    </div> 
    <div class="textbackground">
        <p class="journeytext">
          
 My name is Timothy Nilsson and I was born and raised in Sweden in the second largest City Gothenburg. From a very early age, I have always been fascinated by technology.
 When I was 13 years I for the first time touched programming and I have been loving it ever since. I went to a Swedish School studying primarily Information Technology for 2 years.
 I am now living in Tokyo where I have been taking my interest in programming and technology to the next level; learning multiple new languages and also doing an Internship with one of the biggest technology companies in Japan. 
 My aspiration is to one day be able to become a Software Engineer and develop world-changing things.
        </p>
        <div class="circle"></div>
    </div>
</div>
{%endblock%}