{% extends 'MainSite/base.html' %}


{% block content %}
<div class="programming_container">
    <div class="prog_background"></div>
    <h1 class="progrubric">Programming</h1>
    <div class="prstory">
        <p>My interest in Technology started when I was 9 years old when I started playing my first real Computer Game that is today widely known as World of Warcraft. Ever since then I have been hooked researching about everything that technology had to offer. I started programming with basic Javascript when I was 13 where I mostly played around by drawing with programming. It was not until I was 16 that I seriously started gaining interest in programming and this is also when I took my first programming course in Ruby. In the course, I really learned how to approach and solve problems. Recently, I have been learning other languages such as C++ and Python and working with Django to develop this site. My aspiration is to one day graduate and become a Software Engineer.

        </p>
    </div>
    <div class="project_div">
        <h1 class="projects">Projects</h1>
        <div class="TicTacToe">
            <h1>Tic Tac Toe playable in the terminal</h1>
            <img src="../../static/img/TicTacToe.gif" alt="">
        </div>
    </div>
</div>
{%endblock%}
