{% extends 'MainSite/base.html' %}


{% block content %}
<div class="programming_container">
    <div class="prog_background"></div>
    <h1 class="progrubric">Programming</h1>
    <div class="prstory">
        <p>My interest in Technology started when I was 9 years old when I started playing my first real Computer Game that is today widely known as World of Warcraft. Ever since then I have been hooked researching about everything that technology had to offer.  

        </p>
    </div>
    <div class="project_div">
        <h1 class="projects"> Personal Projects</h1>
        <div class="TicTacToe">
            <h1>Tic Tac Toe C++</h1>
            <img src="../../static/img/TicTacToe.gif" alt="">
        </div>
    </div>
</div>
{%endblock%}
